bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.sln.docstates
.DS_Store
Thumbs.db
*.log
*.bak
.git/
.gitignore
Dockerfile
.dockerignore
README.md
*.md
.aws-sam/
.serverless/
node_modules/
test-results/
TestResults/
coverage/
*.orig